# Configurații Mediu - DataAgregate
# Acest fișier conține secrete și nu trebuie comis în Git!

API_BASE_URL=http://pixcode.go.ro:8085

KEYSTORE_PATH=path/to/your/keystore
KEYSTORE_PASSWORD=your_keystore_password
KEY_ALIAS=your_key_alias
KEY_PASSWORD=your_key_password

API_BASE_URL_PROD=https://api.yourdomain.com/
